  
   
<%- include("header") -%>
   <div class="box" id="heading">
     
    <h1><%= kind %></h1>
   </div>
  
   <div class="box" >
     
<%  for(var i=0; i< items.length;i++){%>
<div class="item">  
<input type="checkbox">
  <p><%= items[i] %></p>
  </div>
<%  }%>
     
     
    <form  class="item" action="/" method="POST">
     <input type="text" name="todo" placeholder="New item">
      <button type="submit">+</button>
    </form>
    
   </div>
  
<%- include('footer') -%>